




@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.animate-in {
	transform: translateY(-50%);
	transition: all 1s ease-in;
}

.scroll-into-view {
	transform: translateX(0);
}

